@import 'utils/fonts';
@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/reset';

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  line-height: 1.25;
  margin-bottom: 0.5em;
  font-weight: 600;
  letter-spacing: -0.025em;
}

h1 {
  font-size: 4.5em;
}
h2 {
  font-size: 3.8em;
}
h3 {
  font-size: 3em;
}
h4 {
  font-size: 2.6em;
}
h5 {
  font-size: 2em;
}
h6 {
  font-size: 1.6em;
}
p {
  font-size: 1.6em;
}

:root {
  // font-family: "Lora", serif;
  font-family: 'ProximaNova', sans-serif;
  line-height: 1.6;

  @include screen-sm {
    font-size: 8.5px;
  }
}

main section:first-child {
  margin-top: 0;
}
.container {
  @extend %container;
}

#toTop {
  opacity: 0;
  pointer-events: none;
  &.scroll {
    opacity: 0.8;
    pointer-events: all;
    bottom: 2rem;
  }
  bottom: 0;

  width: 5rem;
  height: 5rem;

  left: 1rem;
  z-index: 1001;
  position: fixed;
  background: $color-bg-white;

  transition: all 0.2s ease-in-out;
  &:hover {
    opacity: 1;
  }
  &::after {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-20%) translatex(-50%) rotate(135deg);
    content: '';
    display: inline-block;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    border-left: 0.4rem solid $color-text-dark;
    border-bottom: 0.4rem solid $color-text-dark;
  }
  &:focus,
  &:active {
    outline: none;
  }
}

@import 'elements/button';
@import 'elements/block_stats';
@import 'elements/bookmark';
@import 'elements/dropdown';

@import 'blocks/main_menu';
@import 'blocks/header';
@import 'blocks/search';
@import 'blocks/hero';
@import 'blocks/sorting';
@import 'blocks/section-one_article';
@import 'blocks/section-three_articles';
@import 'blocks/show_more';
@import 'blocks/footer';

.scroller {
  width: 10px;
  height: 100vh;
}
