.main_footer {
  //styling
  background: $color-bg-light;
  color: $color-text-grey;
  padding: 4rem 0 1rem;
  position: relative;
  box-shadow: 0 0 0.15rem rgba(0, 0, 0, 0.05);

  &-copy {
    font-size: 1.4rem;
    margin-top: -1.5rem;
  }

  //layout:
  &-container {
    @extend %container;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include screen-lg {
      justify-content: space-around;
    }
    @include screen-md {
      flex-direction: column;
      align-items: center;
    }
    @include screen-sm {
      align-items: flex-start;
    }
  }
  &-subscribe,
  &-copy,
  &-social {
    margin-bottom: 3rem;
    text-align: center;
    max-width: 43rem;
    @include screen-sm {
      text-align: left;
      max-width: unset;
    }
    @include screen-m-md {
      text-align: left;
      // }
      // @include screen-m-lg {
      margin-right: 5rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.subscribe {
  margin-top: 3rem;
  min-width: 30rem;
  position: relative;
  @include screen-md {
    margin: 2rem 0;
  }
  &-input {
    width: 100%;
    background: transparent;
    box-shadow: none;
    outline: none;
    border: none;

    padding: 1rem;
    font-size: 1.6rem;
    border-bottom: 0.2rem solid $color-text-dark;
  }
  &-submit {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: $color-bg-light;
    &:focus,
    &:active {
      outline: none;
    }
  }
  &-image {
    //img - not BEM
    transition: 0.15s all ease-in-out;
    will-change: auto;
    &:hover {
      filter: drop-shadow(0px 0px 0.15rem rgba(0, 0, 0, 0.3));
    }
  }
}

.socials {
  margin-left: -2rem;
  &-icon {
    &-image {
      transition: 0.15s all ease-in-out;
      will-change: auto;
      &:hover {
        filter: drop-shadow(0px 0px 0.15rem rgba(0, 0, 0, 0.3));
      }
    }
    &:focus,
    &:active {
      outline: none;
    }
  }
}
