.main_footer {
  //styling
  background: $color-bg-light;
  color: $color-text-grey;
  padding: 4rem 0 1rem;
  position: relative;
  box-shadow: 0 0 0.15rem rgba(0, 0, 0, 0.05);

 
  &-subscribe,
  &-copy,
  &-social {
    margin-bottom: 3rem;
  }
  &-copy {
    font-size: 1.4rem;
    margin-top: -1.5rem;
  }

  //layout:
  &-container {
    @extend %container;
  }
  &-subscribe,
  &-copy,
  &-social {
    @include screen-m-md {
      max-width: 43rem;
    }
  }
  &-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    > * {
      //not BEM
      margin-right: 5rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .grids {
    // &-container {
    //   @extend %container;
    //   display: grid;
    //   grid-gap: 5rem 5vw;
    //   grid-template-columns: repeat(8, 1fr);
    //   grid-template-rows: auto;
    //   grid-template-rows: auto;
    //   grid-auto-rows: auto;
    // }
    // &-subscribe {
    //   grid-column: 1 / 4;
    // }
    // &-social {
    //   grid-column: 4 / 6;
    // }
    // &-copy {
    //   grid-column: 6 / 9;
    // }

    // @include screen-lg {
    //   &-container {
    //     grid-template-columns: repeat(5, 1fr);
    //   }
    //   &-subscribe {
    //     grid-column: 1 / 4;
    //   }
    //   &-social {
    //     grid-column: 1 / 4;
    //   }
    //   &-copy {
    //     grid-column: 4 / 6;
    //     grid-row: 1 / 3;
    //   }
    // }
    // @include screen-md {
    //   &-container {
    //     display: flex;
    //     flex-wrap: wrap;
    //     justify-content: space-between;
    //     > * {
    //       margin-bottom: 4rem;
    //       &:last-child {
    //         margin-bottom: 0;
    //       }
    //       &:first-child {
    //         margin-right: 4rem;
    //       }
    //     }
    //   }
    //   &-copy {
    //   }
    // }
  }
}

.subscribe {
  //not BEM
  margin-top: 3rem;
  @include screen-md {
    margin: 2rem 0;
  }
  position: relative;
  input {
    width: 100%;
    background: transparent;
    box-shadow: none;
    outline: none;
    border: none;

    padding: 1rem;
    font-size: 1.6rem;
    border-bottom: 0.2rem solid $color-text-dark;
  }
  button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: $color-bg-light;
  }
  img {
    transition: 0.15s all ease-in-out;
    will-change: auto;
    &:hover {
      filter: drop-shadow(0px 0px 0.15rem rgba(0, 0, 0, 0.3));
    }
  }
}

.socials {
  //not BEM
  margin-left: -2rem;
  img {
    transition: 0.15s all ease-in-out;
    will-change: auto;
    &:hover {
      filter: drop-shadow(0px 0px 0.15rem rgba(0, 0, 0, 0.3));
    }
  }
}
