.search {
  opacity: 0;
  pointer-events: none;
  transition: 0.4s all ease-out;
  transform: translateY(-50%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  bottom: 0;
  background: $color-bg-white;
  .themeBaby &,
  .themeTeens & {
    color: $color-bg-white;
  }
  .themeBaby & {
    background: $color-pink;
  }
  .themeTeens & {
    background: $color-blue;
  }
  z-index: 99;
  font-size: 2.3rem;
  overflow-y: scroll;

  @include screen-m-sm {
    padding-left: 7rem;
    padding-top: 4rem;
  }
  &-container {
    @extend %container;
    // padding: 9rem 4.5rem 3rem;
    padding: 4.5rem 0 2rem;
  }
  &-close {
    @include screen-m-sm {
      top: 10rem;
    }
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 4rem;
    &-image {
      //img - not BEM
      width: 100%;
      resize: horizontal;
      height: auto;
      cursor: pointer;
    }
  }
  &-header {
    margin-bottom: 0.2em;
  }
  &-input {
    width: 100%;
    border: 0px solid;
    border-bottom: 0.3rem solid $color-text-dark;
    color: $color-text-dark;
    .themeBaby &,
    .themeTeens & {
      color: $color-bg-white;
      border-color: $color-bg-white;
    }
    padding: 2rem 3rem;
    margin-bottom: 1em;
    font-size: 1.5em;
    display: block;
    transition: 0.2s all ease-in-out;
    max-width: 70rem;
    background: transparent;

    &:focus,
    &:active {
      outline: none;
      box-shadow: 0.15rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
      border-color: $color-yellow;
    }
  }
  &-result_list {
    list-style: none;
    margin: 2rem 0 0;
    padding: 0;
    padding-left: 1rem;
  }
  &-result_item {
    margin-bottom: 1rem;
    position: relative;

    @include screen-xsm() {
      padding-left: 2rem;
      &::before {
        content: "";
        display: block;
        width: 1rem;
        height: 1rem;
        background: $color-text-grey;
        position: absolute;
        top: 1.25rem;
        left: 0;
        border-radius: 50%;
      }
    }
    &:hover {
      .search-result_remove {
        opacity: 1;
        pointer-events: all;
        left: 0;
      }
    }
  }
  &-result_link {
    display: flex;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;

    color: $color-text-dark;
    .themeBaby &,
    .themeTeens & {
      color: $color-bg-white;
    }
    text-decoration: none;
    &:hover {
      opacity: 1;
    }
  }
  &-result_image {
    @include screen-xsm() {
      display: none;
    }
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 2rem;
    object-fit: cover;
  }
  &-result_text {
    align-self: center;
    margin-right: 2rem;
  }
  // &-result_remove {
  //   transition: all 0.2s linear;
  //   opacity: 0;
  //   pointer-events: none;
  //   position: relative;
  //   left: 2rem;
  //   margin-left: auto;
  //   margin-right: 0;
  // }
}

.search.open {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

.search.open ~ .main_header {
  @include screen-m-sm {
    position: fixed;
  }
}

.search.open ~ .main_menu {
  @include screen-m-sm {
    &.scroll {
      padding-top: 9rem;
    }
  }
}

.search.open ~ .main_menu .burger {
  position: fixed;
  width: 3rem;
}
