.three_articles {
  &--bg_dark {
    background: $color-bg-light;
    .themeBaby & {
      background: $color-pink-light;
    }
    .themeTeens & {
      background: $color-blue-light;
    }
  }
  padding: 3rem 0 0;
  margin: 0;

  &-container {
    justify-content: space-between;

    @include screen-lg {
      justify-content: space-around;
      @include screen-m-sm() {
        > * {
          padding-right: 0.5rem;
          padding-left: 0.5rem;
        }
      }
    }

    @extend %container;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    font-weight: 600;
  }
  &-section_header {
    width: 100%;
    text-transform: uppercase;
    font-size: 2rem;
    color: $color-text-grey;
    margin-bottom: 5rem;
    @include screen-sm {
      margin-bottom: 3.5rem;
    }
  }
  &-content_block {
    width: 31%;
    min-width: 30rem;

    @include screen-m-xsm() {
      max-width: 50rem;
    }
    @include screen-sm() {
      width: unset;
    }
    @include screen-xsm() {
      min-width: 20rem;
    }

    margin-top: 4rem;
    margin-bottom: 4rem;
    position: relative;
  }
  &-theme {
    text-transform: uppercase;
    font-size: 1.6rem;
    color: $color-yellow;
    font-weight: 600;
    margin-bottom: 1.5rem;
    position: absolute;
    bottom: 100%;
  }
  &-image {
    width: 100%;
    height: 29rem;
    img {
      //img - not BEM
      object-fit: cover;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &-bookmark {
    position: absolute;
    bottom: 100%;
    right: 2rem;
    transform: translateY(50%);
  }
  &-button {
    display: none;
  }
  &-text {
    margin: 0;
  }
  &-card {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &-block_stats {
    padding: 2rem 0;
    order: -1;
    // странно по цветам, но работаю с теми иконками шо есть)

    //   .block_stats-date {
    //     &::before {
    //       background-image: url("/assets/images/UI/calendar-grey.svg");
    //     }
    //   }
    //   .block_stats-views {
    //     &::before {
    //       background-image: url("/assets/images/UI/eye-grey.svg");
    //     }
    //   }
  }
}
.three_articles + .three_articles {
  margin-top: -2rem;
}
