<div class="CONTENTBLOCK ">
  <div class="CONTENTBLOCK-container">
    <article class="CONTENTBLOCK-content_block">
      <figure class="CONTENTBLOCK-image">
        <img src="images/common/ravlik.jpg" alt="ravlik">
      </figure>
      <div class="CONTENTBLOCK-column">
        <div class="CONTENTBLOCK-shrink">
          <header class="CONTENTBLOCK-category">Корисні статті</header>
          <div class="CONTENTBLOCK-card">
            <!-- <h1 class="CONTENTBLOCK-text">Шість пригодницьких історій для літнього читання</h1> -->
            <h1 class="CONTENTBLOCK-text">Тварини Патріка Джорджа: врятуй їх усіх</h1>
            <div class="CONTENTBLOCK-block_stats block_stats">
              <a href="#" class="block_stats-date">1 жовня, 2017</a>
              <a href="#" class="block_stats-views">980</a>
            </div>
            <button class="CONTENTBLOCK-button button">Читати</button>
            <div class="CONTENTBLOCK-bookmark bookmark-block"></div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>