/* 
'ProximaNova'
'Lora' 
*/
$fonts-dir:'';
//sans-serif
@font-face {
  font-family: "ProximaNova";
  src: url("/assets/fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: regular;
}

@font-face {
  font-family: "ProximaNova";
  src: url("/assets/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: "ProximaNova";
  src: url("/assets/fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: regular;
}

//serif
@font-face {
  font-family: "Lora";
  src: url("/assets/fonts/Lora-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: regular;
}

@font-face {
  font-family: "Lora";
  src: url("/assets/fonts/Lora-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Lora";
  src: url("/assets/fonts/Lora-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: regular;
}
