$color-pink: #f94f4c;
$color-yellow: #ffc830;
$color-text-grey: #8f8f92;
$color-text-dark: #272529;
$color-bg-white: #ffffff;
$color-bg-light: #fbfbfe;
$color-bg-light: #f7f7f9;//so that bg for icons will blend in with bg

$screen-small: 399px;
$screen-medium: 999px;
$screen-large: 1599px;
