.bookmark-block {
  display: inline-block;
  width: 4.2rem;
  height: 4.2rem;

  position: relative;
  cursor: pointer;
  &:after {
    content: "";
    z-index: -1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/assets/images/UI/bookmark_yellow_active.svg");
    transition: 0.2s all ease-in;
    opacity: 0;
  }
  &:hover {
    &::after {
      opacity: 1;
    }
  }
  &:active {
    &::after {
      opacity: 0.75;
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}
