$boradius: 2rem;
%mWidth {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
}
%buttonLike {
  border-radius: $boradius;
  background: $color-yellow;
}
.dropdown {
  font-size: 1.6rem;
  font-family: "ProximaNova", sans-serif;
  font-weight: 600;
  position: relative;
  &-placeholder {
    @extend %mWidth;
    @extend %buttonLike;
    position: relative;
    padding: 0.75rem 4.5rem 0.75rem 2.5rem;
    display: block;
    max-width: 20rem;

    &::after {
      cursor: pointer;
      position: absolute;
      right: 2rem;
      top: 50%;
      transform: translateY(-75%) rotate(-45deg);
      content: "";
      display: inline-block;
      background-color: transparent;
      background-size: contain;
      background-repeat: no-repeat;
      width: 1rem;
      height: 1rem;
      border-left: 0.3rem solid $color-text-dark;
      border-bottom: 0.3rem solid $color-text-dark;
    }
  }
  &-list {
    @extend %buttonLike;
    left: 0;
    @include screen-md {
      left: 50%;
      transform: translateX(-50%);
    }
    padding: 0.75rem 1.5rem;
    list-style: none;
    position: absolute;
    margin: 0;
    top: 0;
    width: max-content;
    max-width: 20rem;
    min-width: 100%;
    display: flex;
    flex-direction: column;

    transition: all 0.3s ease-in-out;
    pointer-events: none;
    opacity: 0;
    max-height: 2rem;
    .open & {
      pointer-events: all;
      opacity: 1;
      max-height: 15rem;
    }
  }
  &-item {
    @extend %mWidth;
    transition: all 0.15s ease-in-out;
    opacity: 0.7;
    order: 1;
    padding: 0.1rem 1rem;
    cursor: pointer;
    &.active {
      opacity: 0.8;
      text-decoration: underline;
      order: 0;
    }
    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }
}
