.container {
  @extend %container;
}
.sorting {
  padding: 0;
  margin: 5.5rem 0;
  list-style: none;
  color: $color-text-grey;
  font-weight: 600;
  font-size: 1.6rem;

  li {
    display: inline-block;
    cursor: pointer;
    &::after {
      content: " |";
      color: $color-text-grey;
    }
    &:first-child::after,
    &:last-child::after {
      content: "";
    }

    &.active {
      color: $color-text-dark;
    }

    @include screen-sm {
      &:first-child {
        display: block;
      }
    }
  }
}